* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #3d3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #f4f4f4;
}

.container {
  background-color: #2f2c2c;
  width: 500px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  color: #00b8b8;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #eaeaea;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #00b8b8;
  border-radius: 6px;
  background-color: #444141;
  color: #f4f4f4;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #00ffff;
  background-color: #524f4f;
}

#charCount {
  font-size: 12px;
  color: #bbbbbb;
  margin-top: 5px;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #00b8b8;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #00cccc;
}

#feedback-display {
  margin-top: 25px;
  padding: 15px;
  border-radius: 8px;
  background-color: #3b3737;
  border: 1px solid #00b8b8;
}

#feedback-display div {
  background-color: #444141;
  border-left: 4px solid #00b8b8;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#submittedFeedback {
  margin-top: 40px;
}